////////////////////////////////
// Helpers
////////////////////////////////

.clearfix {
	&:last-of-type {
		border-bottom: none;
	}

	&:before,&:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

.spacer {
	height: 20px;
}

.spacer-large {
	height: 40px;
}

////////////////////////////////
// General styles
////////////////////////////////

body {
	font-family: "Noto Sans", sans-serif;
}


.wrapper {
	width: 800px;
	margin: 0 auto;
}

.rsvp-form {
	height: 1300px;
}

.rsvp {
	width: 100%;
}

////////////////////////////////
// Header
////////////////////////////////

.header {
	text-align: center;
	margin-bottom: 40px;
}

.headline {
	h1, h2 {
		margin: 0;
	}
}

#nav { 

	ul {
		margin: 0 auto;
		padding: 0px;
		margin: 0px;
	}
	
	li {
		list-style: none;
		float: left;
		margin: 0;
		font-weight: 700;
	}

	li.active {
		background-color: #CCC;
	}
	
	a {
		color: #333;
		font-size: 1.8em;
		text-decoration: none;
		display: inline-block;
		padding: 10px 20px;
	}
	
	a:hover {
		background-color: #ccc;
	}

	a:visited {
		color: #333;
	}
}


